/*header样式*/

header{
	border: 1px solid;
	margin: 20px auto;
	height: 48px;
	width: 1000px;
	border-radius:10px; 
	position: relative;
}
.control-label{
	margin-top: -7px;
	margin-right: 15px;
}
.col-sm-3{
	margin-top: 6px;
}
.left{
	float: left;
}
.right{
	float: right;
}

/*footer样式*/

footer{
	border: 1px solid #000000;
	margin-top: 40px;
	position: relative;
	/*bottom: 0x;*/
	width: 1000px;
	/*padding:5px;*/
	text-align: center;
}
footer ul{
	list-style: none;
	margin: 0 auto;
	/*text-align: center;*/
}
footer ul li {
	float: left;
	margin:1px 10px; 
	display: block;
}
footer ul li a{
    display: block;
}
footer p{
	/*text-align: center;*/
}