section h3{
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #cceeff;
	background-color: #cceeff;
	border-radius: 5px;
	padding: 3px 3px;

}
article{
	position: relative;
	height: 180px;
}
.detail-article-left{
	/*left: 2px;*/
	float: left;
	/*margin-right: 30px;*/

}
article ul{
    list-style: none;
    margin-top: 5px;
}
article ul li{
   padding: 2px;
   color: #1C55FF;
   font-size: 1.1em;
}
.detail-article-right{
	float: right;
	/*right: 0px;*/

}
.detail-article-right img{
	height: 150px;
	width: 150px;
	right: 0px;
}
/*comment*/
.article-left{
	left:5px;
	width: 580px;
	position: relative;
}
.article-right{
	 right:5px;
	margin-top: -70px;
	position: absolute;
	
}
.article-right ul{
	list-style: none;

}
.comment{
	padding: 5px;
	position: relative;
	background-color: #cceeff;
	width: 700px;
	border: 1px solid #cceeff;
	margin-bottom: 10px;
	border-radius: 10px;

}

.comment a{
	text-decoration: underline;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 1.2em;
}
/*comment form*/
 section form{
	/*text-align: right;*/
	width: 500px;
	padding-bottom: 20px;
}
section.form-control{
	width: 500px;
	margin-bottom: 10px;
}
.name{
    width: 200px;
}
.col-sm-10{
	/*text-align: right;
	margin-right: 9px;*/
	margin-top: 5px;
}
.star:after {
  color: red!important;
  content: "*";
  font-weight: 700;
  margin-left: .3e